<header>
  <div class="container header_container">
      <div id="branding">
          <img src="assets/google_logo.png">
          <h1><span class="highlight">Bharat</span> Tech Solutions</h1>
      </div>

      <nav>
          <ul>
              <li id="user_logo"><img src="assets/user_male.png"></li>
              <li id="logout_link"><a routerLink="">Logout</a></li>
          </ul>
      </nav>
  </div>
</header>

<section id="showcase">
  <div class="container">
      <h1>Welcome To My Website</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, necessitatibus tempore. Ut rem tempore perspiciatis saepe modi perferendis, libero labore sed iusto esse iure illum fugiat eveniet beatae voluptatum itaque.</p>
  </div>
</section>

<section id="boxes">
  <div class="container">
      <div class="box">
          <img src="assets/html 5.png">
          <h3>HTML5 Markup</h3>
          <p>Lorem ipsr sit, amet consectetur adipisicing elit. Alias, necessitatib</p>
      </div>
      <div class="box">
          <img src="assets/css3.png">
          <h3>CSS3 Styling</h3>
          <p>Lorem ipsr sit, amet consectetur adipisicing elit. Alias, necessitatib</p>
      </div>
      <div class="box">
          <img src="assets/graphic.jpg">
          <h3>Graphic Design</h3>
          <p>Lorem ipsr sit, amet consectetur adipisicing elit. Alias, necessitatib</p>
      </div>
  </div>
</section>

<footer>
  <p>Copyright &copy; 2017, A Bharat Jain Creation</p>
</footer>
