<header>
  <div class="container">
      <div id="branding">
          <img src="../../images/google_logo.png">
          <h1><span class="highlight">Bharat</span> Tech Solutions</h1>
      </div>
  </div>
</header>

<section id="showcase">
  <div class="container">
      <section id="registration_form">
          <div class="dark">
              <h2>Register</h2>
              <form class="register">
                  <div>
                      <label>Name</label><br>
                      <input type="text" placeholder="Name">
                  </div>
                  <div>
                      <label>Email</label><br>
                      <input type="email" placeholder="Email Address">
                  </div>
                  <div>
                      <label>Password</label><br>
                      <input type="password" placeholder="Password">
                  </div>
                  <div>
                      <label>Confirm Password</label><br>
                      <input type="password" placeholder="Confirm Password">
                  </div>
                  <button class="button_1" type="submit">Register</button>       
              </form>
          </div>
      </section>
  </div>
</section>

<footer>
  <p>Copyright &copy; 2017, A Bharat Jain Creation</p>
</footer>




