<header>
  <div class="container header_container">
      <div id="branding">
          <img src="assets/google_logo.png">
          <h1><span class="highlight">Bharat</span> Tech Solutions</h1>
      </div>
  </div>
</header>

<section id="showcase">
  <div class="container">
      <section id="registration_form">
          <div class="dark">
              <h2>Register</h2>
              <form [formGroup]="myForm" class="register" name="RegisterForm" action="./welcome" (ngSubmit)="RegisterationForm(myForm)">
                  <div>
                      <label>Name</label><br>
                      <input type="text" placeholder="Name" name="name" formControlName="name" required>
                  </div>
                  <div>
                      <label>Email</label><br>
                      <input type="email" placeholder="Email Address" formControlName="email" required>
                  </div>
                  <div>
                      <label>Password</label><br>
                      <input type="password" placeholder="Password" formControlName="password" required>
                  </div>
                  <div>
                      <label>Confirm Password</label><br>
                      <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
                  </div>
                  <button class="button_1" type="submit">Register</button>       
              </form>
          </div>
      </section>
  </div>
</section>

<footer>
  <p>Copyright &copy; 2017, A Bharat Jain Creation</p>
</footer>




